.post {
  border-radius: 8px;
  padding: 2.5rem;
  padding-top: 0;
}


.commentForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: -30px;
}

.commentForm > input{
  width: 100%;
  background: #262626;
  border: 0;
  resize: none;
  height: 54px;
  padding: 1rem;
  border-radius: 8px;
  color: var(--white);
  line-height: 1.4;
  border: 1px solid var(--gray-700);
}


.commentForm  button[type="submit"] {
  padding: 1rem 1.5rem;
  border-radius: 8px;
  border: 0px;
  background: var(--blue);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s;
}

.commentForm  button[type="submit"]:not(:disabled):hover {
  background: var(--blue-dark);
}
.commentForm  button[type="submit"]:disabled {
  opacity: 0.7
}
